<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for familiar in familiares %}

        </p> El nombre del familiar es: {{familiar.nombre}} </p>
        </p>Su estatura es: {{familiar.estatura}} </p>

        {% if familiar.casado == True %}
            <p>Se encuentra casado/a</p>
        {% else %}
            <p>Actualmente no se encuentra casado/a</p>
    {%endif%}

    {% endfor %}
</body>
</html>